# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
# the env is just gonna be a demonstration for the user, the user should create their own .env file
# .env 
.env.local
.env.development
.env.test
.env.production

# Coverage
.coverage
htmlcov/
.coverage.*
.coveragerc

# Development
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# OS
ehthumbs.db
Desktop.ini
