{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'post_list' %}">{% trans "Home" %}</a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'post_create' %}">{% trans "New Post" %}</a>
                </li>
            </ul>

            <!-- ✅ Language Switcher -->
            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown">
                    {% trans "Change Language" %}
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    {% get_available_languages as AVAILABLE_LANGUAGES %}
                    {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
                    {% for language in languages %}
                    <li>
                        <a class="dropdown-item" href="#"
                            onclick="switchLanguage('{{ language.code }}'); return false;">
                            {{ language.name_local }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</nav>